<section>
    <article>
        <h3>titulo</h3>
        <img src="..." alt="imagen de prueba">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi ratione, distinctio
            culpa vitae obcaecati quidem odit, ea nulla odio aut beatae tempora unde numquam sequi,
            voluptates quis voluptatem! Odit.</p>
    </article>

    <article>
        <h3>titulo</h3>
        <img src="..." alt="imagen de prueba">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi ratione, distinctio
            culpa vitae obcaecati quidem odit, ea nulla odio aut beatae tempora unde numquam sequi,
            voluptates quis voluptatem! Odit.</p>
    </article>

    <article>
        <h3>titulo</h3>
        <img src="..." alt="imagen de prueba">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi ratione, distinctio
            culpa vitae obcaecati quidem odit, ea nulla odio aut beatae tempora unde numquam sequi,
            voluptates quis voluptatem! Odit.</p>
    </article>

    <article>
        <h3>titulo</h3>
        <img src="..." alt="imagen de prueba">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi ratione, distinctio
            culpa vitae obcaecati quidem odit, ea nulla odio aut beatae tempora unde numquam sequi,
            voluptates quis voluptatem! Odit.</p>
    </article>

    <article>
        <h3>titulo</h3>
        <img src="..." alt="imagen de prueba">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi ratione, distinctio
            culpa vitae obcaecati quidem odit, ea nulla odio aut beatae tempora unde numquam sequi,
            voluptates quis voluptatem! Odit.</p>
    </article>
</section>